@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.alert-container {}

.callout-container {
    height: 100vh;

    background: url('../images/whiskey-background.jpg') no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
}

.quotes-container {}

.features-container {}

.favotires-container {}

/*Jumbotron*/
.lead {
    margin: 25px 0;
    color: #a7a7a7;
}

.callout small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* Button */